:root {
    --background: #182142;
    --foreground: #fefefe;
    --primary: #2f4260;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

.header {
    width: 50vw;
    margin: auto;
    margin-top: 30px;
    border: 5px solid var(--primary);
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    margin: 0;
}

.score-box {
    background-color: var(--foreground);
    color: var(--primary);
    padding: 10px 35px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-box span {
    font-weight: bold;
}

#score {
    font-size: 3em;
    color: var(--background);
    font-weight: bold;
}

/* Buttons */

.circle {
    width: 200px;
    height: 200px;
    background-color: var(--foreground);
    border: 20px solid var(--btn-border);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    --button-height: 8px;
    box-shadow: 0 var(--button-height) var(--btn-shadow), 0 8px 2px rgba(0, 0, 0, 0.2) inset;
    transition: all 0.1s ease;
    line-height: 1;
}

.circle span::after {
    content: var(--emoji);
}

.rock {
    --btn-border: #dd314c;
    --btn-shadow: #6e1a39;
    --emoji: "✊";
}

.paper {
    --btn-border: #5571f7;
    --btn-shadow: #29398b;
    --emoji: "✋";
}

.scissor {
    --btn-border: #d89f35;
    --btn-shadow: #986029;
    --emoji: "✌";
}

@keyframes win {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.win {
    animation-name: win;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

/* Picking screen */

.pick-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    width: 50vw;
    margin: auto;
    margin-top: 50px;
    justify-items: center;
    row-gap: 100px;
}

.pick-container .circle:nth-child(3) {
    grid-column: 1 / span 2;
}

#pick-screen .circle:hover {
    --button-height: 14px;
    transform: translateY(-6px);
}

/* Results screen */

.result-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.result-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.result-col>span {
    font-weight: bold;
    font-size: 1.2em;
}

.result-col h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.result-col:nth-child(2) {
    gap: 0;
    padding-top: 50px;
}

.result-container button {
    background-color: var(--foreground);
    border-radius: 10px;
    padding: 15px;
    width: 120%;
    color: var(--background);
    font-weight: bold;
}